@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: "Noto Sans", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-red-50: #fae6e6;
  --color-red-100: #eeb0b2;
  --color-red-200: #e68a8d;
  --color-red-300: #db5559;
  --color-red-400: #d44339;
  --color-red-500: #c90107;
  --color-red-600: #b70106;
  --color-red-700: #810105;
  --color-red-800: #6f0104;
  --color-red-900: #540003;

  --color-grey-50: #efefef;
  --color-grey-100: #cccccc;
  --color-grey-200: #b4b4b4;
  --color-grey-300: #929292;
  --color-grey-400: #7d7d7d;
  --color-grey-500: #5c5c5c;
  --color-grey-600: #545454;
  --color-grey-700: #414141;
  --color-grey-800: #333333;
  --color-grey-900: #272727;

  --color-light-grey-50: #fdfdfd;
  --color-light-grey-100: #f9f9f9;
  --color-light-grey-200: #f6f6f6;
  --color-light-grey-300: #f2f2f2;
  --color-light-grey-400: #f0f0f0;
  --color-light-grey-500: #ececec;
  --color-light-grey-600: #d7d7d7;
  --color-light-grey-700: #a8a8a8;
  --color-light-grey-800: #828282;
  --color-light-grey-900: #636363;

  --color-yellow-50: #fff9e6;
  --color-yellow-100: #ffebb0;
  --color-yellow-200: #ffe28a;
  --color-yellow-300: #ffd454;
  --color-yellow-400: #ffcc33;
  --color-yellow-500: #ffbf00;

  --color-green-50: #e6fef1;
  --color-green-100: #b0fad4;
  --color-green-200: #8af8bf;
  --color-green-300: #54f5a2;
  --color-green-400: #33f390;
  --color-green-500: #00f074;
  --color-green-600: #00da6a;

  --text-heading-xl: 56px;
  --text-heading-xl--line-height: 130%;
  --text-heading-xl--font-weight: 700;

  --text-tab-h1: 34px;
  --text-tab-h1--line-height: 134%;
  --text-tab-h1--font-weight: 700;

  --text-heading-lg: 48px;
  --text-heading-lg--line-height: 130%;
  --text-heading-lg--font-weight: 700;

  --text-tab-h2: 28px;
  --text-tab-h2--line-height: 134%;
  --text-tab-h2--font-weight: 600;

  --text-heading-md: 38px;
  --text-heading-md--line-height: 140%;
  --text-heading-md--font-weight: 700;

  --text-heading-md-tab: 28px;
  --text-heading-md-tab--line-height: 134%;
  --text-heading-md-tab--font-weight: 600;

  --text-tab-h3: 24px;
  --text-tab-h3--line-height: 133%;
  --text-tab-h3--font-weight: 600;

  --text-heading-sm: 30px;
  --text-heading-sm--line-height: 140%;
  --text-heading-sm--font-weight: 700;

  --text-paragraph-lg: 24px;
  --text-paragraph-lg--line-height: 150%;
  --text-paragraph-lg--font-weight: 300;

  --text-paragraph-lg-bold: 24px;
  --text-paragraph-lg-bold--line-height: 150%;
  --text-paragraph-lg-bold--font-weight: 700;

  --text-paragraph-md: 20px;
  --text-paragraph-md--line-height: 160%;
  --text-paragraph-md--font-weight: 300;

  --text-paragraph-md-semibold: 20px;
  --text-paragraph-md-semibold--line-height: 160%;
  --text-paragraph-md-semibold--font-weight: 600;

  --text-paragraph-sm: 18px;
  --text-paragraph-sm--line-height: 160%;
  --text-paragraph-sm--font-weight: 300;

  --text-paragraph-sm-semibold: 18px;
  --text-paragraph-sm-semibold--line-height: 160%;
  --text-paragraph-sm-semibold--font-weight: 600;

  --text-paragraph-xs: 16px;
  --text-paragraph-xs--line-height: 160%;
  --text-paragraph-xs--font-weight: 300;

  --text-paragraph-xs-semibold: 16px;
  --text-paragraph-xs-semibold--line-height: 160%;
  --text-paragraph-xs-semibold--font-weight: 600;

  --text-paragraph-14-semibold: 14;
  --text-paragraph-14-semibold--line-height: 150%;
  --text-paragraph-14-semibold--font-weight: 600;

  --text-paragraph-xxs: 12px;
  --text-paragraph-xxs--line-height: 150%;
  --text-paragraph-xxs--font-weight: 300;

  --text-paragraph-xxs-medium: 12px;
  --text-paragraph-xxs-medium--line-height: 150%;
  --text-paragraph-xxs-medium--font-weight: 500;

  --text-paragraph-xxxs: 10px;
  --text-paragraph-xxxs--line-height: 150%;
  --text-paragraph-xxxs--font-weight: 300;

  --text-paragraph-xxxss: 8px;
  --text-paragraph-xxxss--line-height: 160%;
  --text-paragraph-xxxss--font-weight: 300;

  --text-lab-lg: 14px;
  --text-lab-lg--line-height: 150%;
  --text-lab-lg--font-weight: 500;

  --text-lab-sm: 12px;
  --text-lab-sm--line-height: 150%;
  --text-lab-sm--font-weight: 500;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #c90107;
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.98 0.056 100.77);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.42 0.28 26.97);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.98 0.056 100.77);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.42 0.28 26.97);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-default), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

p,
a,
button,
label {
  font-family: "Inter", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-noto-sans {
  font-family: "Nato Sans", sans-serif;
}